<footer class="footer-1 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="vnu"><img alt="BaristaLabs, LLC Logo" class="" src="{{ "/img/BaristaLabs-Logo.png" | prepend: site.baseurl | prepend: site.url }}"></div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Recent Posts</h6>
          <hr>
          <ul class="link-list recent-posts">
            {% for post in site.posts limit:3%}
              <li>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              <span class="date">{{ post.date | date: "%A" }}
											<span class="number">{{ post.date | date: "%-d, %Y" }}</span>
              </span>
            {% endfor %}
          </ul>
        </div>

      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Latest Updates</h6>
          <hr>
          <div class="twitter-feed">
            <div class="tweets-feed" data-widget-id="{{ site.twitter_widget_id }}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Instagram</h6>
          <hr>
          <div class="instafeed" data-user-name="{{ site.instagram_username }}">
            <ul></ul>
          </div>
        </div>
      </div>
      </div>

    <div class="row">
      <div class="col-sm-6">
        <span class="sub">© Copyright 2016 - BaristaLabs, LLC</span>
      </div>
      <div class="col-sm-6 text-right">
      <ul class="list-inline social-list">
        <li>
          <a href="https://github.com/baristalabs">
            <i class="fa fa-github fa-alt"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/baristalabs/">
            <i class="fa fa-twitter fa-alt"></i>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/baristalabs/">
            <i class="fa fa-instagram fa-alt"></i>
          </a>
        </li>
      </ul>
      </div>
    </div>
  </div>

  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
  <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/twitterfetcher.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/spectragram.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/smooth-scroll.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/parallax.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "/js/scripts.js" | prepend: site.baseurl | prepend: site.url }}"></script>
</footer>
