<header class="nav-container">

  <nav class="absolute transparent bg-dark">
    <div class="nav-bar">
      <div class="module left">
        <a href="{{ site.baseurl }}/">
          <div class="vnu"><img class="logo logo-light" alt="BaristaLabs" src="{{ "/img/baristalabs-horizontallogolight.png" | prepend: site.baseurl | prepend: site.url }}"></div>
          <img class="logo logo-dark" alt="BaristaLabs" src="{{ "/img/baristalabs-horizontallogolight.png" | prepend: site.baseurl | prepend: site.url }}">
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li>
              <a href="{{ "/2014/11/04/barista-sharepoint-overview.html" | prepend: site.baseurl | prepend: site.url }}">How it works<br></a>
            </li>
            <li class="vpf">
              <a href="{{ "/docs/" | prepend: site.baseurl | prepend: site.url }}">Documentation<br></a>
            </li>
            <li class="vpf">
              <a href="{{ "/blog/"  | prepend: site.baseurl | prepend: site.url }}" class="inner-link">blog<br></a>
            </li>
            <li class="vpf">
              <a href="{{ "/about/" | prepend: site.baseurl | prepend: site.url }}" class="inner-link">about<br></a>
            </li>
            <!--{% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="vpf">
                <a href="{{ my_page.url | prepend: site.baseurl }}" class="inner-link" target="_self">{{ my_page.title }}<br></a>
              </li>
              {% endif %}
            {% endfor %}-->
          </ul>
        </div>

      </div>

    </div>
  </nav>

</header>